.known-carousel .carousel-item p {
  max-width: 800px;
  margin: 2rem auto;
}

.intro {
  height: 100vh;
}

.intro .container {
  margin-top: 3rem;
}

.intro-actions {
  margin-top: 3rem;
}

.scroll-down {
  position: absolute;
  bottom: 3rem;
}

section {
  padding: 3rem 0;
}

/* mobile view */
@media (min-width: 800px) {
  .intro .container {
    margin-top: 5rem;
  }

  .intro-actions {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
  }

  section {
    padding: 1.5rem 0;
  }
}

